* { margin: 0px; padding: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div, table { display: block; }
html { margin: 0px; padding: 0px; width: 100%; }
a { border: medium none; text-decoration: none; }
a:active { background-color: rgb(133, 202, 255); }
.btn { font-size: 18px; border-radius: 24px; display: block; margin-left: 15%; margin-right: 15%; height: 39px; line-height: 39px; font-family: Arail,"Microsoft Yahei"; }
.btnwhite { background-color: rgb(46, 156, 208); color: rgb(255, 255, 255); }
.weixin { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 100; background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; display: none; text-align: center; }
.weixin .t { position: fixed; top: 0px; left: 0px; width: 100%; padding: 30px; font-size: 14px; line-height: 20px; color: rgb(112, 101, 95); box-sizing: border-box; background: rgb(255, 255, 255) none no-repeat scroll right 8px / 45px auto; }
.weixin strong { color: rgb(243, 92, 67); }
body { background-color: rgb(247, 247, 247); }
.top { padding-top: 50px; width: 100%; height: 150px; background-color: rgb(255, 255, 255); text-align: center; }
.logo { margin: 0px auto; width: 360px; height: 93px; background: url('icon_m.png') no-repeat 0% 0% / contain;  }
.btnc { margin-top: 35px; text-align: center; width: 100%; }
.content { padding: 35px 0px; width: 100%; }
.bss, .app_qr { margin: 0px auto; width: 360px; text-indent: -999em; }
.bss { margin-bottom: 15px; width:360px; height: 420px; background: transparent url('bss.png') no-repeat scroll 0% 0% / 360px 420px; }
.app_qr { height: 360px; background: url('app_qr.png') no-repeat 0% 0% / contain; margin:20px auto 10px; }